/* @tailwind base;
@tailwind components;
@tailwind utilities;

.center-container {
    display: flex;
    justify-content: center;
  } */

h1 {
    color: white;
}

body {
  background: radial-gradient(circle, rgba(100, 50, 10, 1) 0%, rgba(160, 140, 180, 0.5) 35%, rgba(160, 110, 160, 1) 50%, rgba(120, 60, 120, 1) 100%);
}


