h1 {
    color: white;
}

body {
    background: radial-gradient(circle, #87CEEB, #1E90FF); /* Light blue gradient */
    background-size: cover;
    background-position: center;
}

.label {
  color: black;
  margin-right: 5px;
}

.dropdown {
  padding: 8px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #3498db; /* Change this to the desired background color */
  color: #fff; /* Change this to the desired text color */
  cursor: pointer;
  outline: none;
  width: 105px;
  text-align: center; /* Center the text horizontally */
  opacity: 0.75;
}

/* Style for when the dropdown is open */
.dropdown:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.plot-container {
  /* Default styles for non-cellphone devices */
  /* margin: 40px auto; */
}

/* Media query for cellphone devices */
@media (max-width: 1081px) {
  body {
    background: radial-gradient(circle, #87CEEB, #1E90FF); /* Light blue gradient */
    background-position: center;
    background-size: 500%;
    background-position: center;
}

  .plot-container {
      width: 90%; /* Full width on small screens */
      height: auto; /* Adjust height as needed or let it be determined by content */
      margin: 0px 0px 0px 0px; /*Adjust margin values for cellphones*/
      display: flex;
      align-items: center;
      justify-content: center;
  }
}


.play-button, .pause-button {
  background-color: white;
  position: relative;
  width: 50px; /* Adjust the width to your desired value for a circular appearance */
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;

}

.play-button::after {
  content: '\25B6'; /* Unicode character for a rightward-facing arrow */
  font-size: 24px; /* Adjust the font size as needed */
  color: green; /* Color of the arrow */
  line-height: 50px;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pause-button::after {
  content: '\II'; /* Unicode character for a pause symbol */
  font-size: 28px; /* Adjust the font size as needed */
  font-weight: bold; /* Make the symbol bold */
  color: rebeccapurple; /* Color of the pause symbol */
  position: absolute;
  top: 45%;
  left: 48%;
  transform: translate(-50%, -50%);
}