/* @tailwind base;
@tailwind components;
@tailwind utilities;

.center-container {
    display: flex;
    justify-content: center;
  } */

h1 {
    color: white;
}

body {
  background: radial-gradient(circle, rgba(0, 120, 255, 1) 0%, rgba(160, 140, 180, 0.5) 35%, rgba(160, 110, 160, 1) 50%, rgba(120, 60, 120, 1) 100%);
}

.label {
  color: black;
  margin-right: 5px;
}

.dropdown {
  padding: 8px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #3498db; /* Change this to the desired background color */
  color: #fff; /* Change this to the desired text color */
  cursor: pointer;
  outline: none;
  width: 105px;
  text-align: center; /* Center the text horizontally */
  opacity: 0.75;
}

/* Style for when the dropdown is open */
.dropdown:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.plot-container {
  /* Default styles for non-cellphone devices */
  /* margin: 40px auto; */
}

/* Media query for cellphone devices */
@media (max-width: 767px) {
  .plot-container {
      width: 70%; /* Full width on small screens */
      height: auto; /* Adjust height as needed or let it be determined by content */
      margin: 20px auto;
      display: flex;
      align-items: center;
      justify-content: center;
  }
}